{% comment %} base.html {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSockets Testing</title>
     
</head>
<body>
{% block content %}
{% endblock content %}
<h1>wob soket etsting</h1>
<script>

    

    var socket = new WebSocket('ws://192.168.1.95:8000/ws/new/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>

{% block javascript %}
{% endblock javascript %}
</body>
</html>